body{
  background-color: rgb(99, 195, 163);
  color: #fdffff;
  width: 375px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: cornflowerblue;
  color:rgb(223, 234, 230);
  border-style: none;
}
input{
  height: 20px;
}